#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
export SNEK_OTHEROS=0
export PREFIX=/usr
export CFLAGS_POSIX=$(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get LDFLAGS)
export V=1

BUILDDIR = $(shell pwd)

SNEK_MOST_WARNINGS =  \
	-fdebug-prefix-map=$(BUILDDIR)=. \
	-Wall \
	-Wcast-align \
	-Wextra \
	-Wpointer-arith \
	-Wstrict-prototypes \
	-Wmissing-prototypes \
	-Wmissing-declarations \
	-Wnested-externs \
	-Wshadow

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_strip:
	dh_strip -X.elf -Xsnek-ev3

override_dh_dwz:
	dh_dwz -X.elf -Xsnek-ev3

override_dh_shlibdeps:
	dh_shlibdeps -X.elf -Xsnek-ev3

override_dh_auto_build-indep:
	dh_auto_build -- "SNEK_MOST_WARNINGS=$(SNEK_MOST_WARNINGS)"

override_dh_auto_build-arch:
	dh_auto_build -- -C ports/posix SUBDIRS= FIRMWARE= "SNEK_MOST_WARNINGS=$(SNEK_MOST_WARNINGS)"

override_dh_auto_test-arch:
	dh_auto_test -- -C test FIRMWARE= SNEK_RISCV= SNEK_ARM=

override_dh_auto_install-arch:
	dh_auto_install -- -C ports/posix
